* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body,
body>div {
  max-width: 100vw;
  height: 100vh;
  /* This is for horizontal scrollbar */
  font-size: 100%;
  text-size-adjust: none;
}

body {
  background-color: #f9faf9;
  overflow-y: scroll;
  overflow-x: overlay;
}

/* Typography */
a,
p,
div {
  text-decoration: none;
  font-family: 'Heebo', sans-serif;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins', sans-serif;
}